*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: #ededed;
    background-color: #1B2841;
}
.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #01155af7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
     

}
.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size:25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover{
    color: #ff10f0;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(pictures/Presentation1.jpg) no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home_content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .8s;
}
.home-content h3 span {
    color: #ff10f0;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
  
}
.home-content p {
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-section a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff10f0;
    border-radius: 50%;
    font-size: 20px;
    color: #ff10f0;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .11s;
}
.home-section a:hover {
    background: #ff10f0;
    color: #001b29;
    box-shadow: 0 0 20px #ff10f0;
}
.button-box{
    display: inline-block;
    padding: 12px;
    background-color: #ff10f0;
    border-radius: 40px;
    font-size: 10px;
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.button-box:hover {
    background: #ff10f0;
    color: #001b29;
    box-shadow: 0 0 20px #ff10f0;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background-color: #fff;
    color: #001b29;
    
}
.about-pic img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #ff10f0;
}
.about-text h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text h4 {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.container{
    padding: 91px;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.title{
    text-align: center;
    font-size: 61px;
    padding-bottom: 70px;
}
.title span{
    color:#ff10f0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #012290f7;
}
.services-list div i{
    font-size: 51px;
    margin-bottom: 31px;
}
.srvices-list div h2{
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 15px;
}
.read{
    display: inline-block;
    padding: 12px;
    background-color: #ff10f0;
    border-radius: 40px;
    font-size: 10px;
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #ff10f0, 0 0 25px #ff10f0;
}
.read:hover {
    background: #ff10f0;
    color: #001b29;
    box-shadow: 0 0 20px #ff10f0;
}
.section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    margin-left: 120px;
    
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.skills-section{
    color:#1B2841;
    background-color: #fff;
}

.container1{
    width: 500px;
    margin: 60px auto;
    color:#fff;
    background-color: #1B2841;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.container1 li{
        margin:20px 0;
        padding: 10px;
        list-style-type: none;
}
.container2{
    margin:60px auto;
    padding: 6px;
    font-size: 120px;

}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-beizer(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(236, 0, 177)0%, rgb(214, 132, 184)100%);
}
.interpersonal{
    width: 73%;
    animation: interpersonal 3s;
}
.communication{
    width: 70%;
    animation: communication 3s;
}
.design{
    width: 50%;
    animation: design 3s;
}
.analytical{
    width: 85%;
    animation: analytical 3s;
}
.presentation{
    width: 90%;
    animation: presentation 3s;
}

.main-text{
    padding-top: 130px;
    margin-top: 200px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1.5;
    text-align: center;
}
.main-text h2 span{ 
    color: #ff10f0;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 80%;
    height: auto;
    display: block;
    transition: transform 0.5s;
    border-radius: 8px;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #ff10f0);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer hp{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: cyan;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1,1);
}
.row:hover .layer{
    height: 100%;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    text-align: center;
}
.last-text{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #01155af7;
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.contact-text{
    font-size: 90px;
    line-height: 1;
    text-align: center;
} 
.top i{
    color: #000;
    background: #ff10f0;
    font-size: 20px;
    padding:10px;
    border-radius: 0.5rem;;
}
.contact-text h2 span{
    color:#ff10f0
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;

}
.contact-list li{
    color: #ff10f0;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    transition: all .40 ease;
}
.contact-lst li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #ff10f0;

}

.contact-list i{
    margin-bottom: 10px;
    display: block;
    color: #ff10f0;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background-color: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background-color: #ff10f0;
    border-radius: 40px;
    font-size: 18px;
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #ff10f0, 0 0 25px #ff10f0;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px #ff10f0, 0 0 25px #ff10f0, 0 0 50px #ff10f0, 0 0 100px #ff10f0, 0 0 200px #ff10f0;
    color: #001b29;
    box-shadow: 0 0 20px #ff10f0;
}

@keyframes presentation{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes analytical{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes communication{
    0% {
        transform: translateX(-100px);
        opacity: 0;
        
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes design{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes interpersonal{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes showtext{
    100%{
        opacity: 1;
    }
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes animate{
    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}


